#Ignore server token
.serverToken

#ignore SSH
.ssh/

#ignore pat.txt
.git/pat.txt

#Vault file
vault.txt

#configs
.config/

#Ignore the server token
files/token.txt/conductor/var/lib/rancher/k3s/server/node-token
