[defaults]
inventory = /home/caboose/codingProjects/kubernetes/k3s/yaml/hosts.yaml
remote_user = caboose
private_key_file = /home/caboose/codingProjects/kubernetes/k3s/.ssh/ansible.id_rsa
vault_password_file = group_vars/.vault.yaml